.sidebar-container {
  height: 100%;
  background-color: #fff;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
  color: #3f51b5;

  mat-icon {
    color: #3f51b5;
  }
}

mat-nav-list {
  padding-top: 0;
}

.sidebar-expansion {
  background: transparent;
  
  .mat-expansion-panel-header {
    padding: 0 16px;
  }

  .mat-expansion-panel-header-title {
    mat-icon {
      margin-right: 16px;
    }
  }

  mat-nav-list {
    padding: 0;
  }

  a.mat-list-item {
    padding-left: 32px;
  }
}

// Fix expansion panel spacing
::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}